<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class= 'center'><br/>
    <%= gravatar_for @user, size:120 %>
</div><br>
<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/article', obj: @user.articles %>