// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


.jumbotron {

background-size: cover;
height: 400px;

}

#logo{
  float: left;
  font-size: 1.7em;
  color: green;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right:10px;
}

#logo:hover{
  color: gray;
  text-decoration:none;
}

.center{
  text-align:center;
}
.margin{
  margin-top:40px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
  margin-top: 0;
  text-align:left;
}

.btn-xlarge {
  font-size: 1.7em;
}
.marginleft{
  margin-left: 15px;
}
.margintop{
  margin-top:15px;
}

footer {
  margin-top:45px;
  padding-top:5px;
  border-top: 1px solid;
  color: #777;
}  
footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
